<% for(let i=0;i<person.length;i++){ %> 
    <tr>
        <th><%=person[i].name  %> </th>
        <th><a href="tel:<%=  person[i].mobile  %>"><%=  person[i].mobile  %></a></th>
        <th>STATUS</th>

    </tr>
    
<% } %> 