<form action="/resources" method="POST">
    <div class="form-group">
      <label for="">Name</label>
      <input name="name" class="form-control"  placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label >Mobile</label>
        <input name="mobile"  class="form-control"  placeholder="Enter Mobile">
        </div>
        <div class="form-group">Verified Details</label>
            <input name="verify" class="form-control" >
            </div>
            <div class="form-group">Status</label>
                <input name="status" class="form-control"  >
                </div>
                <div class="form-group">City</label>
                    <input name="city" class="form-control"  >
                    </div>
                    <div class="form-group">Address</label>
                        <input name="address" class="form-control"  >
                        </div>
                        <label for="">Choose Resource</label>
                  <select  name="res" class="focus:ring-indigo-500 focus:border-indigo-500 my-5 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md items-center">
                    <option>Beds</option>
                    
                  </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>