<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Patient-Plasma Board</title>
</head><body class="flex flex-col w-screen min-h-screen p-10 bg-gray-100 text-gray-800">

	<!-- Component Start -->
	
	
	<div  class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6">
		<!-- Product Tile Start -->
		<div style="background-color: grey;padding:20px;">
			<!-- <a href="#" class="block h-64 rounded-lg shadow-lg bg-white"></a> -->
            <h1>My nae is khan</h1>
			<div class="flex items-center justify-between mt-3">
				<div>
					<a href="#" class="font-medium">Product Name</a>
					<a class="flex items-center" href="#">
						<span class="text-xs font-medium text-gray-600">by</span>
						<span class="text-xs font-medium ml-1 text-indigo-500">Store Name</span>
					</a>
				</div>
				<span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">$34</span>
			</div>
		</div>
        <div style="background-color: grey;padding:20px;">
			<!-- <a href="#" class="block h-64 rounded-lg shadow-lg bg-white"></a> -->
            <h1>My nae is khan</h1>
			<div class="flex items-center justify-between mt-3">
				<div>
					<a href="#" class="font-medium">Product Name</a>
					<a class="flex items-center" href="#">
						<span class="text-xs font-medium text-gray-600">by</span>
						<span class="text-xs font-medium ml-1 text-indigo-500">Store Name</span>
					</a>
				</div>
				<span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">$34</span>
			</div>
		</div>
        <div style="background-color: grey;padding:20px;">
			<!-- <a href="#" class="block h-64 rounded-lg shadow-lg bg-white"></a> -->
            <h1>My nae is khan</h1>
			<div class="flex items-center justify-between mt-3">
				<div>
					<a href="#" class="font-medium">Product Name</a>
					<a class="flex items-center" href="#">
						<span class="text-xs font-medium text-gray-600">by</span>
						<span class="text-xs font-medium ml-1 text-indigo-500">Store Name</span>
					</a>
				</div>
				<span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">$34</span>
			</div>
		</div>
        <div style="background-color: grey;padding:20px;">
			<!-- <a href="#" class="block h-64 rounded-lg shadow-lg bg-white"></a> -->
            <h1>My nae is khan</h1>
			<div class="flex items-center justify-between mt-3">
				<div>
					<a href="#" class="font-medium">Product Name</a>
					<a class="flex items-center" href="#">
						<span class="text-xs font-medium text-gray-600">by</span>
						<span class="text-xs font-medium ml-1 text-indigo-500">Store Name</span>
					</a>
				</div>
				<span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">$34</span>
			</div>
		</div>
        <div style="background-color: grey;padding:20px;">
			<!-- <a href="#" class="block h-64 rounded-lg shadow-lg bg-white"></a> -->
            <h1>My nae is khan</h1>
			<div class="flex items-center justify-between mt-3">
				<div>
					<a href="#" class="font-medium">Product Name</a>
					<a class="flex items-center" href="#">
						<span class="text-xs font-medium text-gray-600">by</span>
						<span class="text-xs font-medium ml-1 text-indigo-500">Store Name</span>
					</a>
				</div>
				<span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">$34</span>
			</div>
		</div>
        <div class="bg-gray-200"style="padding:20px;">
			<!-- <a href="#" class="block h-64 rounded-lg shadow-lg bg-white"></a> -->
            <h1>My nae is khan</h1>
			<div class="flex items-center justify-between mt-3">
				<div>
					<a href="#" class="font-medium">Product Name</a>
					<a class="flex items-center" href="#">
						<span class="text-xs font-medium text-gray-600">by</span>
						<span class="text-xs font-medium ml-1 text-indigo-500">Store Name</span>
					</a>
				</div>
				<span class="flex items-center h-8 bg-indigo-200 text-indigo-600 text-sm px-2 rounded">$34</span>
			</div>
		</div>
        </div>
		<!-- Product Tile End -->
		<!-- Product Tile Start -->
	
			
</body>